[Desktop Entry]
Encoding=UTF-8
Name=Karbo Lite Wallet
Comment=Karbo wallet
Exec=karbowallet %U
Terminal=false
Type=Application
Icon=Karbovanets
MimeType=x-scheme-handler/karbowanec;
Categories=Office;Finance;
Version=1.0.7
